# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.cache/

# Environments
.venv/
env/
venv/
ENV/

# Configuration & Secrets
.env

# Outputs
outputs/*
!outputs/.gitkeep

# IDEs
.vscode/
.idea/
